.auth-form {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .auth-form h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .auth-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .auth-form div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  
  .auth-form div span {
    font-size: 1rem;
    font-weight: bold;
  }
  
  .verification-method {
    text-align: left;
  }
  
  .wrapper {
    display: flex;
    justify-content: space-around;
  }
  
  .auth-form button {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background: #0cbb69;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .auth-form button:hover {
    background: #068047;
  }
  
  .register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: transparent;
  }
  .login-redirect {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
  }
  
  .login-link {
    color: #007bff;
    font-weight: bold;
    cursor: pointer;
  }
  
  .login-link:hover {
    text-decoration: underline;
  }
  